* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
input,
label {
  display: block;
}
input {
  width: 100%;
}
.submit {
  margin: 15px auto 0 auto;
  width: 40%;
  background-color: rgb(192, 189, 15);
  border-radius: 15px;
}
form {
  min-width: 200px;
  max-width: 600px;
  margin: auto;
  border: 2px solid black;
  padding: 15px;
}
label {
  color: green;
}
